.credit-card-container {
    display: flex;
    justify-content: space-evenly;
    padding: 0 16px;
}

.credit-card {
    width: 300px;
    padding: 25px;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 20px;
    margin-bottom: 20px;
}

.grey__credit__Card{
    color: black;
    
}

.card-type{
    text-align: right;
    margin-bottom: 5px;
}

.card-number{
    font-size: 1.6rem;
}

.card-owner{
    text-align: left;
}

.expirationAnd__cardBank{
    display: flex;
    
}